<%= form_with model: @user, local: true do |form| %>
  <% if @user.errors.any? %>
      <p><b>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </b></p>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  <% end %>
  <ul>
    <li>
      <%= form.label :name %><br>
        <%= form.text_field :name, value: current_user.name, readonly: true %>
    </li>
    <li>
      <%= form.label :email %><br>
      <%= form.text_field :email, value: current_user.email, readonly: true %>
    </li>
      <%= form.label :college %><br>
      <%= form.text_field :college %>
   <li>
      <%= form.label :relationship %><br>
      <%= form.text_field :relationship %>
    </li>
    <li>
      <%= form.label :location %><br>
      <%= form.text_field :location %>
    </li>
  </ul>

  <p><%= form.submit 'Submit', :class => 'waves-effect waves-light btn blueblue' %></p>

  <p><%= link_to 'Home', root_url %></p>
<% end %>
