<br>
<%= form_with model: @user, local: true do |form| %>
  <% if @user.errors.any? %>
      <p><b>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </b></p>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  <% end %>
  <%= form.label :name %><br>
  <%= form.text_field :name, value: current_user.name, readonly: true, class: "form-control"  %>
  <br>
  <%= form.label :email %><br>
  <%= form.text_field :email, value: current_user.email, readonly: true, class: "form-control"  %>
  <br>
  <%= form.label :college %><br>
  <%= form.text_field :college, class: "form-control" %>
  <br>
  <%= form.label :major %><br>
  <%= form.text_field :major, class: "form-control" %>
  <br>
  <%= form.label :relationship %><br>
  <%= form.text_field :relationship, class: "form-control" %>
  <br>
  <%= form.label :location %><br>
  <%= form.text_field :location, class: "form-control", id: "autocomplete" %>
  <br>

  <p><%= form.submit 'Submit', class: "btn btn-success" %></p>

<% end %>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_Fdj97CQc4FJAaL8DojB1xfvCCgBS_4E&libraries=places"></script>
<script>
  var input = document.getElementById('autocomplete');
  var uwindsorBounds = new google.maps.LatLngBounds(
    new google.maps.LatLng(42.3045, -83.0661));
  var options = {
    bounds: uwindsorBounds
  };
  var autocomplete = new google.maps.places.Autocomplete(input, options);
  google.maps.event.addListener(autocomplete, 'place_changed', function(){
     var place = autocomplete.getPlace();
  })
  $("form").on("keypress", function (e) {
    if (e.keyCode == 13) {
        return false;
    }
});
</script>
