<p><b>Name:</b> <%= @user.name %></p>
<p><b>Email:</b> <%= @user.email %></p>
<p><b>College:</b> <%= @user.college %></p>
<p><b>Relationship status:</b> <%= @user.relationship %></p>
<p><b>Location:</b> <%= @user.location %></p>
