<p><b>Name:</b> <%= current_user.name %></p>
<p><b>Email:</b> <%= current_user.email %></p>
<p><b>College:</b> <%= current_user.college %></p>
<p><b>Relationship status:</b> <%= current_user.relationship %></p>
<p><b>Location:</b> <%= current_user.location %></p>
