<p><b>Name:</b> <%= current_user.name %></p>
<p><b>Email:</b> <%= current_user.email %></p>
<p><b>College:</b> <%= current_user.college %></p>
<p><b>Relationship status:</b> <%= current_user.relationship %></p>
<p><b>Location:</b> <%= current_user.location %></p>
<%= link_to "Edit profile", edit_user_path(current_user) %>
<br><br>
<h3>Post status</h3>
<%= render 'post_form' %>
<br>
<h3>Recent Posts</h3>
<% @latest_posts.each do |post| %>
  <p><b>Name:</b> <%= post.user.name %></p>
  <p><b>Date:</b> <%= post.created_at.strftime('%B %d, %Y at %l:%M %p') %></p>
  <p><b>Content:</b> <%= post.content %></p>
  <br><br>
<% end %>
